*,
*::before,
*::after {
    box-sizing: border-box;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

body {
    background-color: #ffffff ;
    color: #434455;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    letter-spacing: 0.02em;
} 

img {
    display: block;
    max-width: 100%;
    height: auto;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, p {
    margin: 0;
    padding: 0;
}

.link, 
a {
    text-decoration: none;
}

f {
    list-style: none;
}

button {
    font-family: inherit;
    cursor: pointer;
}

.subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 72px;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #4d5ae5;
    text-decoration: none;
}

.logo-studio {
    color: #2e2f42;
    text-decoration: none;
}

.logo:hover,
.logo:focus {
  color: #4d5ae5;
}

.logo-studio:hover,
.logo-studio:focus {
  color: #2e2f42;
}

footer .logo-studio:hover,
footer .logo-studio:focus {
  color: #f4f4fd;
}

/* Phone screen */

.container {
    min-width: 320px;
    max-width: 428px;
    margin: 0 auto;
    padding: 0 16px;
}

/* Tablet screen */

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

/* Desctop screen */

@media only screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding: 0 15px;
    }
}

/* Header */

.header {
    letter-spacing: 0.02em;
    color: #2e2f42;
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    justify-content: space-between;
    width: 428px;
}

.address-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    font-style: normal;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-list {
    display: flex;
    fgap: 40px;
}

@media (min-width: 768px) {
    .header-container {
      width: 768px;
    }
}
  
  @media (min-width: 1158px) {
    .header-container {
      width: 1158px;
    }
}

.logo-header {
    color: #4d5ae5;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    font-weight: 800;
    text-decoration: none;
}

@media (min-width: 768px) and (max-width: 1157px) {
    .logo-header {
      margin-right: 0;
    }

    .address-list {
        flex-wrap: wrap;
        row-gap: 12px;
        column-gap: 0;
        justify-content: center;
        flex-direction: column;
    }

    .address-link {
        font-family: Roboto;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 14px;
        letter-spacing: 0.48px;
    }
}  

.menu-nav  {
    display: flex;
    align-items: center;
}

.menu-nav .logo {
    margin-right: 76px;
}

.header-list {
    display: flex;
    gap: 40px;
}

@media screen and (max-width: 767px) {
    .header-list {
      display: none;
    }

    .address-list {
        display: none;
    }
} 

.nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:first-child {
    position: relative;
}

.nav-link.active::after {
    content: '';
    display: block;
    width: 100%;
    left: 0px;
    height: 4px;
    bottom: -27px;
    border-radius: 2px;
    background-color: #404bbf;
    position: absolute;
}

@media (min-width: 1158px) {
    .nav-link.active::after {
      bottom: -27px;
    }
}

.list {
    list-style: none;
}

.active {
    position: relative;
    color: #404BBF;
}

.active::after {
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background: #404BBF;
    content: "";
    margin-top: 20px;
    bottom: -1px;
    left: 0;
}

.nav-link:hover,
.nav-link:focus {
    color: #404bbf;
}


.address {
    font-style: normal;
}

.address-list {
    display: flex;
    gap: 40px;
}

.address-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    font-style: normal;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
}

.address-link:hover,
.address-link:focus {
    color: #404BBF;
}

.address {
    list-style: none;
}

.menu-toggle-icon {
    stroke: #2e2f42;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.menu-toggle {
    min-height: 40px;
    min-width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  
    margin: 0;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    outline: none;
}
  
.js-close-menu {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    min-width: 24px;
    min-height: 24px;
}
  
@media (min-width: 768px) {
    .menu-toggle {
      display: none;
    }
}
  
.menu-toggle:hover,
.menu-toggle:focus {
    background-color: rgba(0, 0, 0, 0.1);
}

.menu-container {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 80px 0 80px 40px;
    background-color: #ffffff;
    z-index: 999;
    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
    justify-content: space-between;
    overflow: scroll;
}
  
@media (min-width: 768px) {
    .menu-container {
      display: none;
    }
}
  
.menu-container.is-open {
    transform: translateX(0);
}
  
.menu-container .menu-toggle {
    position: absolute;
    top: 16px;
    right: 16px;
    color: #fff;
}
  
.mobile-menu {
    padding: 0;
    margin: 0;
    list-style: none;
}
  
.mobile-menu .link {
    display: block;
    padding: 0 0 40px 0;
    text-decoration: none;
}
  
.mobile-menu-link {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    color: #2e2f42;
}
  
.mobile-menu-contact-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 48px;
}
  
.mobile-menu-contact {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    color: #4d5ae5;
}
  
.mobile-menu-icons {
    display: flex;
    gap: 56px;
}
  
@media (max-width: 427px) {
    .mobile-menu-contact {
      font-size: 24px;
    }
  
    .mobile-menu-icons {
      gap: 32px;
    }
}
  
.mobile-menu-mail {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
    color: #434455;
}
  
/* Hero */

.section {}

.hero-section {
    padding: 112px 0;
    margin: 0 auto;
  }

.hero {
    background-color: #2e2f42;
    padding-top: 188px;
    padding-bottom: 188px;
    background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)), url(../images/hero/people-office.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1440px;
    margin: 0 auto;
}

.hero-flex {
    display: flex;
    max-width: 320px;
    margin: 0 auto;
  }

.hero-header {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
    max-width: 496px;
    margin: 0 auto;
}

@media (min-width: 768px) {
    .hero-flex {
      display: flex;
      max-width: 496px;
      margin: 0 auto;
    }
  
    .hero-header {
      color: #fff;
      text-align: center;
      /* Header 1 */
      font-family: Roboto;
      font-size: 56px;
      font-style: normal;
      font-weight: 700;
      line-height: 60px; /* 107.143% */
      letter-spacing: 1.12px;
    }
  }

.hero-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color:#ffffff;
    background-color: #4d5ae5;
    min-width: 169px;
    height: 56px;
    display: block;
    margin: 0 auto;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 16px 32px;
    border: none;
    margin-top: 48px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
    background-color: #404bbf;
}

@media (min-width: 1px) and (max-width: 767px) and (min-resolution: 192dpi) {
    .hero {
      background-image: linear-gradient(
          to bottom,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero/bgmobile@2x.jpg);
    }
  }
  
  @media (min-width: 768px) {
    .hero {
      background-image: linear-gradient(
          to bottom,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero/bgtablet@1x.jpg);
    }
  }
  
  @media (min-width: 768px) and (max-width: 1157px) and (min-resolution: 192dpi) {
    .hero {
      background-image: linear-gradient(
          to bottom,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero/bgtablet@2x.jpg);
    }
  }
  
  @media (min-width: 1158px) {
    .hero {
      background-image: linear-gradient(
          to bottom,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero/bgdesktop@1x.jpg);
      padding: 188px 0;
    }
  }
  
  @media (min-width: 1158px) and (min-resolution: 192dpi) {
    .hero {
      background-image: linear-gradient(
          to bottom,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero/bgtablet@1x.jpg);
      padding: 188px 0;
    }
  }
  

/* About us */

.section-about-us {
    display: flex;
    gap: 72px;
    flex-wrap: wrap;
}

.about-us {
    padding: 96px 0;
    display: flex;
}

.section-about-us-item:last-child {
    margin-right: 0;
}

.about-us-subtitle {
   margin-bottom: 8px;
   font-family: 'Roboto', sans-serif;
}

.section-about-us-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    margin: 0;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    margin-bottom: 8px;
    background-color: #f4f4fd;
    border-radius: 4px;
}

.about-us-icon {
    fill: currentColor;
}

.section-about-us .icon {
    background: #f4f4fd;
    border-radius: 4px;
}

@media (min-width: 1158px) {
    .about-us {
      padding: 120px 0;
      display: flex;
    }

    .icon {
        display: none;
    }
}
  
@media only screen and (min-width: 768px) {
    .section-about-us {
      display: flex;
      flex-wrap: wrap;
      column-gap: 24px;
      row-gap: 72px;
    }
  
    .section-about-us-item {
      /* flex-basis: calc((100%-24px)/2); */
      width: 356px;
    }

    .about-us-subtitle {
        margin-bottom: 8px;
        text-align: left;
        font-family: Roboto;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 40px;
        letter-spacing: 0.72px;
        text-transform: capitalize;
    }

    .section-about-us-text {
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.32px;
    }
  
    .icon {
      display: none;
    }
}

@media only screen and (min-width: 1158px) {
    .section-about-us {
      display: flex;
      flex-wrap: nowrap;
      gap: 24px;
    }
  
    .section-about-us-item {
      /* flex-basis: calc((100%-3*24px)/4); */
      width: 264px;
    }
  
    .icon {
      display: flex;
    }

    .section-about-us-text {
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.32px;
    }

    .about-us-subtitle {
        margin-bottom: 8px;
        text-align: left;
        font-family: Roboto;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.4px;
    }
}



/* what are we doing */

.doing {
    display: none;
}

@media screen and (min-width: 768px) {
    .doing {
      display: none;
    }
}

@media screen and (min-width: 1158px) {
    .doing {
      padding-bottom: 120px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      gap: 24px;
    }
  
    .section-doing-subtitle {
      text-align: center;
      margin-bottom: 72px;
      font-family: Roboto;
      font-size: 36px;
      font-style: normal;
      font-weight: 700;
      line-height: 40px;
      letter-spacing: 0.72px;
      text-transform: capitalize;
      justify-content: center;
    }
  
    .section-doing-list {
      display: flex;
      gap: 24px;
    }
  
    .doing-container {
      padding: 0 15px;
    }
  
    .section-doing-item {
      display: flex;
      width: 360px;
      align-items: center;
      justify-content: center;
      text-align: center;
    }
}


/* Our team */


.our-team {
    padding: 96px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section.our-team {
    padding: 120px 0;
}

.section-ot-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 72px;
    column-gap: 24px;
}

.section-ot-list:last-child {
    margin-right: 0;
}

.section-ot-item {
    width: 264px;
  border-radius: 0 0 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  display: flex;
  padding-bottom: 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.team-subtitle {
    margin-bottom: 8px;
    text-align: center;
}

.team-text {
    text-align: center;
}

.our-team-subtitle {
    margin-bottom: 8px;
    text-align: center;
}

.expert-ot {
    padding: 32px 0;
}

.team-social-links {
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center;
}

.team-social-item {
    width: 40px;
    height: 40px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-links .link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-links .link:hover,
.team-social-links .link:focus {
    background-color: #404bbf;
}

.social-icon {
    fill: #f4f4fd;
}

@media screen and (min-width: 768px) {
    .our-team {
      padding: 96px 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    .our-team-subtitle {
      margin-bottom: 72px;
      text-align: center;
    }
  
    .section-ot-list {
      display: flex;
      row-gap: 72px;
      column-gap: 24px;
      flex-wrap: wrap;
      justify-content: center;
      padding-left: 0;
    }
  
    .section-ot-item {
      width: 264px;
      border-radius: 0 0 4px 4px;
      box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
      display: flex;
      padding-bottom: 0px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
    }
  }
  
@media only screen and (min-width: 1158px) {
    .our-team {
      padding: 120px 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    .our-team-subtitle {
      margin-bottom: 72px;
      text-align: center;
    }
  
    .section-ot-list {
      display: flex;
      gap: 24px;
      flex-wrap: nowrap;
      padding-left: 0;
      justify-content: start;
    }
  
    .section-ot-item {
      width: 264px;
      border-radius: 0 0 4px 4px;
      box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
      display: flex;
      padding-bottom: 0px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex-wrap: nowrap;
    }
  }
  

/* Customers */

.customers {
    padding: 96px 0;
}

@media (min-width: 1158px) {
    .customers {
      padding: 120px 0;
    }
  }

.customers-container {
    margin: 0;
}

.customers-title {
    font-size: 36px;
    line-height: 1.11;
    color: #2E2F42;
    margin-bottom: 72px;
    justify-content: center;
    display: flex;
}

.customers-list {
    display: flex;
    row-gap: 72px;
    column-gap: 16px;
    flex-wrap: wrap;
    justify-content: center;
}

.customers-item {
    width: 190px;
    height: 88px;
    flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
    .customers {
      padding: 120px 0;
    }
  
    .customers-title {
      font-size: 36px;
      line-height: 1.11;
      color: #2e2f42;
      margin-bottom: 72px;
      justify-content: center;
      display: flex;
      text-align: center;
    }
  
    .customers-list {
      display: flex;
      row-gap: 72px;
      column-gap: 24px;
      flex-wrap: wrap;
      justify-content: center;
    }
  
    .customers-item {
      width: 168px;
      height: 88px;
      flex-wrap: wrap;
    }
}

@media screen and (min-width: 1158px) {
    .customers {
      padding: 120px 0;
    }
  
    .customers-title {
      font-size: 36px;
      line-height: 1.11;
      color: #2e2f42;
      margin-bottom: 72px;
      justify-content: center;
      display: flex;
      text-align: center;
    }
  
    .customers-list {
      display: flex;
      column-gap: 24px;
      flex-wrap: nowrap;
      justify-content: center;
    }
  
    .customers-item {
      width: 168px;
      height: 88px;
      flex-wrap: nowrap;
    }
}

.customers-link {
    width: 100%;
    height: 100%;
    border: 1px solid #8E8F99;
    border-radius: 4px;
    display: flex;
    align-items: center;
    color: #8E8F99;
    justify-content: center;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-link:hover {
    border-color: #404bbf;
    color: #404bbf;
    cursor: pointer;
}
  
.customers-link:focus {
    border-color: #404bbf;
    color: #404bbf;
}
  

svg {
    width: 104;
    height: 56;
}

.customers-icon {
    fill: currentColor;
}

.customers-icon:hover,
.customers-icon:focus {
    fill: #404BBF;
}

.customers-list {
    display: flex;
    gap: 24px;
    align-items: center;
}

.customers-item {
    width: 168px;
    height: 88px;
}

.customers-item:last-child {
    margin-right: 0;
}
/* Footer */

.footer {
    background: #2e2f42;
    color: #f4f4fd;
    flex-wrap: wrap;
    display: flex;
    padding: 97.5px 0 104px 0;
}

@media (min-width: 1158px) {
    .footer {
      padding: 100px 0 100px 0;
      display: flex;
      flex-wrap: wrap;
    }
}

.footer-logo {
    display: flex;
    margin-bottom: 16px;
    justify-content: center;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.discrip-container {
    margin-right: 120px;
}

.footer-text {
    justify-content: center;
    display: flex;
    padding-bottom: 72px;
    max-width: 268px;
}

.footer .logo {
    display: inline-block;
    margin-bottom: 16px;
}

.footer-subtitle {
    display: flex;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom: 16px;
    justify-content: center;
  align-items: center;
  text-align: center;
}

.footer-list {
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
    margin-bottom: 72px;
}

@media (min-width: 768px) {
    .footer-list {
      margin-bottom: 0;
    }
}

.footer-link {
    display: flex;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4d5ae5;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-links .footer-link:hover,
.footer-links .footer-link:focus {
    background-color: #31D0AA;
}

.footer-logo {
    fill: #f4f4fd;
}

@media screen and (min-width: 768px) {
    .footer-logo {
      display: inline-block;
      margin-bottom: 16px;
      width: 264px;
      height: 20px;
    }
  
    .footer-text {
      max-width: 264px;
      font-family: Roboto;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px; /* 150% */
      letter-spacing: 0.32px;
      padding-bottom: 0;
    }
  
    .footer-form {
      display: flex;
      gap: 24px;
      justify-content: left;
    }
  
    .footer-modal-icon {
      margin-left: 16px;
    }
  
    .social-container {
      display: block;
    }
  
    .footer-container {
      flex-wrap: wrap;
      justify-content: left;
      gap: 72px 24px;
      width: 584px;
    }
  
    .footer-subtitle {
      display: block;
      font-weight: 500;
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.02em;
      color: #ffffff;
      margin-bottom: 16px;
      text-align: left;
    }
  
    .footer-logo {
      display: inline-block;
    }
  
    .footer-form-section {
      display: block;
    }
  
    .footer-form-title {
      display: block;
    }
  
    .footer-form-btn {
      width: 264px;
      height: 40px;
      border: 1px solid #ffffff;
      background-color: transparent;
      font-size: 12px;
      line-height: 1.5;
      letter-spacing: 0.04em;
      padding-left: 16px;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
      border-radius: 4px;
      color: #ffffff;
    }
}

@media screen and (min-width: 1158px) {
    .footer {
      padding: 100px 0;
    }
  
    .footer-logo {
      display: inline-block;
      margin-bottom: 16px;
    }
  
    .footer-text {
      max-width: 264px;
    }
  
    .footer-form {
      display: flex;
      gap: 24px;
      padding-left: 0;
    }
  
    .footer-input {
      width: 264px;
      height: 40px;
      border: 1px solid #ffffff;
      background-color: transparent;
      font-size: 12px;
      line-height: 1.5;
      letter-spacing: 0.04em;
      padding-left: 16px;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
      border-radius: 4px;
      color: #ffffff;
    }
  
    .footer-input::placeholder {
      color: #ffffff;
    }
  
    .footer-form-btn {
      min-width: 165px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: 'Roboto', sans-serif;
      font-size: 16px;
      font-weight: 500;
      line-height: 1.5;
      letter-spacing: 0.04em;
      color: #ffffff;
      cursor: pointer;
      background-color: #4d5ae5;
      border: none;
      border-radius: 4px;
    }
  
    .footer-modal-icon {
      margin-left: 16px;
    }
  
    .footer-container {
      flex-wrap: nowrap;
      max-width: 1158px;
      margin: 0;
      width: 1158px;
      margin: 0 auto;
      gap: 0;
    }
  
    .discrip-container {
      padding-right: 0;
      margin-right: 120px;
    }
  
    .footer-list {
      padding-right: 0;
      margin-right: 80px;
    }
}

/* Modal */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 408px;
    min-height: 584px;
    background-color: #fcfcfc;
    border-radius: 4px;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
    transform: translate(-50%, -50%);
    padding: 72px 24px 24px 24px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.backdrop.is-hidden .modal {
    opacity: 0;
    transform: translateX(-50%) translateY(-70%);
}

.modal-icon {
    stroke: #2E2F42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover .modal-icon,
.modal-button:focus .modal-icon {
    fill: #FFFFFF;
}

.modal-button {
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    padding: 0;
    border-radius: 50%;
    background-color: #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.10);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover,
.modal-button:focus {
    background-color: #404BBF;
    border: none;
}

/* Modal form */

.form-title {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 16px;
}

.modal-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 360px;
}

.form-unit {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(142, 143, 153, 1);
    margin-bottom: 8px;
}

.form-field {
    display: block;
    flex-direction: column;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(142, 143, 153, 1);
    margin-bottom: 4px;
}

.form-input-box {
    position: relative;
}

.form-input {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 38px;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    outline: transparent;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 360px;
    height: 40px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: transparent;
}

.form-input:focus {
    border-color: rgba(77, 90, 229, 1);
}

.form-icon {
    position: absolute;
    left: 16px;
    bottom: 8px;
    fill: rgba(46, 47, 66, 1);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    top: 50%;
    transform: translateY(-50%);
}

.form-input:focus+.form-icon {
    fill: #4D5AE5;
}

.comment-form-unit {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(142, 143, 153, 1);
    background-color: transparent;

    margin-bottom: 16px;
}

.comment-form-input {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment-form-input:focus {
    border-color: #4D5AE5;
}

.comment-form-input::placeholder {
    color: rgba(46, 47, 66, 0.4);
    font-size: 12px;
    line-height: 1.2;
    letter-spacing: 0.04em;
}

/* Check box */

.agree-sect {
    display: flex;
    width: 360px;
    margin-bottom: 24px;
}

.custom-check-box {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    margin-right: 8px;
    fill: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.check-box:checked+.policy .custom-check-box {
    background-color: #404BBF;
    border: none;
    fill: #F4F4FD;
}

.policy {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    user-select: none;
}

.policy-link {
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    color: #4D5AE5;
    text-decoration: underline;
}


.form-button {
    display: block;
    justify-content: center;
    align-items: center;
    min-width: 169px;
    height: 56px;
    border: none;
    background-color: #4D5AE5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-button:hover,
.form-button:focus {
    background-color: #404BBF;
}

/* Footer form */

.footer-form-section {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.footer-form-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.footer-form {
    display: flex;
    justify-content: start;
    align-items: start;
    gap: 24px;
}

.footer-label {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-input {
    width: 398px;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: #ffffff;
    padding-left: 16px;
}

@media screen and (min-width: 320px) and (max-width: 427px) {
    .footer-input {
      width: 288px;
    }
}  

.footer-input::placeholder {
    color: #FFFFFF;
}

.footer-form-btn {
    min-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4d5ae5;
    border: none;
    border-radius: 4px;
}

.footer-form-btn:hoverffooter,
.footer-form-btn:focus {
    background-color: #404BBF;
}

.footer-modal-icon {
    margin-left: 16px;
}

/* Portfolio */

.section.portfolio {
    padding-top: 96px;
    padding-bottom: 120px;
}

.portfolio-filtter {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px;
}

.filtter-button {
    background-color: #f4f4fd;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #4d5ae5;
    height: 48px;
    border: 1px solid #e7e9fc;
    border-radius: 4px;
    padding: 12px 24px 12px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.fillter-list {
    width: 360px;
    height: 420px;
}

.filtter-button:hover,
.filtter-button:focus {
    background-color: #404bbf;
    color: #ffffff;
    border: 1px solid transparent;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
}

.container-portfolio {
    border: 1px solid #e7e9fc;
    border-top: none;
    padding: 32px 16px;
    flex-grow: 1;
}

.portfolio-card-link {
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-card-link.link:hover,
.portfolio-card-link.link:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
    transform: translateY(0%);
}

.portfolio-card-link:focus {
    transform: translateY(0%);
}

.portfolio-text {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.portfolio-card {
    list-style: none;
}

.portfolio-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.portfolio-card.list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.portfolio-card-item {
    width: calc((100% - 48px) /3);
}

.portfolio-card-item:last-child {
    margin-right: 0;
}

.img-wrapper {
    width: calc((100% - 2 * 24) / 3);
    position: relative;
    overflow: hidden;
}

.overlay {
    background: #404BBF;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 300px;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.img-wrapper:hover .overlay {
    transform: translateY(0);
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.portfolio-description {
    position: absolute;
    top: 0;
    font-size: 16px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    padding: 40px 32px;
    transform: translateY(100%);
    width: 100%;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: #4d5ae5;
}

.portfolio-card-link.link:focus .portfolio-description {
    transform: translateY(0%);
}